*{margin:0;padding:0;}
body,input{font-size:14px;font-family:"微软雅黑";color:#333;}
a{color:#333;text-decoration:none; outline:none}
ul,ol,i,input,img,h1,h2,h3,h4,h5,h6{list-style:none;border:0;font-weight:normal;font-style:normal;outline:none; resize:none;}
span,i,em,a{display:inline-block; word-spacing:0;}
/*word-spacing:-6px;在设置行块状的父标签，添加此属性*/
.f16{font-size:16px;}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
.w1195{width:1195px;margin:auto;}
.icon{background:url(../../images/icon.png) no-repeat;}
.none{display:none}
.pagbg{background:#f3f4f6;}
.nocont{height:245px;text-align:center;padding-top:60px;}
.notext{font-size:18px}
.mh500{min-height:1018px;}
/*header - 开始*/
.logo{margin:20px 0 0;}
.search{width:540px;margin:17px 0 0 118px;}
.sea-top{width:100%;height:43px;background:#299be4;}
.seainput{width:440px;height:39px;float:left;background:#fff;margin:2px 0 0 2px;overflow:hidden;}
.inputtext{width:390px;height:20px;color:#999;margin-top:8px;}
.searchimg{background-position:0 0;width:21px;height:20px;margin:0 10px 0; vertical-align:middle;cursor:pointer}
.seabut{width:98px;height:39px;line-height:39px;text-align:center;color:#fff;font-size:16px;}
.seaword{width:440px;height:30px;line-height:30px;overflow:hidden}
.seaword a{color:#ff500b;margin-right:10px;}
.seaword a:hover{text-decoration:underline}
/*登录 - 开始*/
.login{/*width:306px;*/margin-top:15px;}
/*未登录*/
.logged,.thelogin{height:43px;line-height:43px;}
.loginbut a{margin-right:25px;}
.loginbut a:hover{color:#299be4;}
.bidding{width:140px;height:34px;line-height:34px;text-align:center;background:#f9f9f9;border:1px solid #dfdfdf;border-radius:2px;margin:4px 0 0 20px;}
.school{background-position:-22px 0;width:20px;height:17px; vertical-align:-3px;margin-right:12px;}
.personal{position:relative;margin-top:8px;margin-left:20px;}
.perimg img{width:31px;height:31px;border-radius:50%;overflow:hidden;}
.peohover{width:126px;position:absolute;right:0;top:31px;z-index:99;display:none}
.perul{border:1px solid #ddd;background:#fff;padding:8px 8px;margin-top:9px;}
.peohover ul li a{height:34px;line-height:34px;padding-left:12px;color:#666;display:block}
.peohover ul li a:hover{background:#f3f4f6;color:#666}
.pericon{background-position:-42px 0;width:14px;height:9px;position:absolute;right:6px;top:1px;}
.pernum{color:#fb713c}
.personal:hover .peohover,.headmaster:hover .peohover,.teacher:hover .peohover{display:block}
.teacher .pericon,.headmaster .pericon{right:30px}
.teacher .peohover,.headmaster .peohover{width:100px;}
.teacher .peohover ul li a,.headmaster .peohover ul li a{margin-right:0px;}
/*已登录*/
.pertopbor{border-top:1px solid #eaeaea;}
.username{color:#299be4;height:43px;line-height:43px;overflow:hidden;padding:0 6px}
.headmaster,.teacher{position:relative;}
/*网站底部 - 开始*/
.footer{margin-top:35px;height:120px;padding-top:27px;}
.footleft{width:388px;}
.hotline{width:204px;margin-top:13px;}
.hotline-num{color:#ff500b;font-size:18px;}
.hotline-num font{font-family:Arial}
.onlinebut{width:91px;height:27px;line-height:27px; float:right;margin-right:3px;background:#ff500b;color:#fff;text-align:center;border-radius:3px;}
.onlinebut:hover{background:#fb713c;}
.hotlink a{margin-top:5px;padding:0 14px 0 9px;}
.hotlink a:nth-child(1){padding:0 13px 0 0}
.hotlink a:nth-last-child(1){padding:0 0 0 6px}
.official{width:66px;text-align:center;margin-left:18px;font-size:12px;}
.official img{width:66px;height:65px;margin-bottom:5px;}
.footright{width:790px;margin-top:17px;}
.foot-icp{width:468px;color:#666;height:55px;text-align:right;padding-right:13px;}
.icptxt{margin-top:11px;}
.footlogo{border-left:1px solid #dcdcdc;padding-left:18px;}
.footlogo img{width:148px;height:45px;}
.hotline-top span{display:block;margin-bottom:8px;}
.foot-bg{background:#f9f9f9;padding:35px 0 21px;height:100px;}
.tb-foot img{width:124px;height:47px;}




/*时光钥匙内页导航 - 开始*/
.header-bg{background:#299be4;padding:8px 0}
.w252{width:247px;padding-left:5px;}
.w290{width:290px;margin:7px 0 0 42px;}
.w203{width:203px;}
.cour-search{margin-top:8px;cursor:pointer}
.cour-nav ul li{margin-left:47px;float:left;font-size:16px;height:55px;line-height:55px;}
.cour-nav ul li a{color:#fff;}
.cour-nav ul li a:hover,.clobut a:hover{text-decoration:underline}
.courlogin{margin-top:6px;}
.cour-color a,.cour-color a:hover,.colorfff,.clobut,.clobut a,.clobut a:hover{color:#fff}
.courlogo{margin-top: 7px;}


@media screen and (max-width:1195px){
	
	.cbanner,.header-bg,.banner{width:1195px;}
		
}

/*活动*/
/*.seabut{background:url(/res/images/sseach.png) no-repeat;height:43px}

.hbg{width:100%; height:153px;background:#f9063e url(/res/images/s11bg.png) no-repeat center;min-width: 1280px;}
.sea-top{background:#ffd929}
.seabut{background:url(/res/images/sseach.png) no-repeat;height:43px}
.logo{margin:0}*/