body {font-size: 14px;}
.vcp-player .vcp-controls-panel{height:2.5rem;}
/*±³¾°ÑÕÉ«*/
.vcp-player .vcp-controls-panel .vcp-panel-bg{opacity:1;background: none #282930;}
.vcp-player .vcp-controls-panel > div,
.vcp-player .vcp-volume .vcp-volume-icon {background-image: url(../images/icon2.png);}
/*²¥·Å¡¢ÔÝÍ£°´Å¥*/
.vcp-controls-panel .vcp-playtoggle {background-position: -89px -84px;}
.vcp-controls-panel .vcp-playtoggle:hover{background-color: transparent; background-position: -138px -84px;}
.vcp-playing .vcp-controls-panel .vcp-playtoggle {background-position: -9px -82px;}
.vcp-playing .vcp-controls-panel .vcp-playtoggle:hover {background-position: -47px -82px;}

/*È«ÆÁ×´Ì¬*/
.vcp-controls-panel .vcp-fullscreen-toggle {width: 2.9em; background-position: -7px -217px;}
.vcp-controls-panel .vcp-fullscreen-toggle:hover{background-position: -39px -217px;}
/*È«ÆÁµã»÷ºó*/
.vcp-fullscreen .vcp-controls-panel .vcp-fullscreen-toggle{background-position: -82px -217px;}
.vcp-fullscreen .vcp-controls-panel .vcp-fullscreen-toggle:hover{background-position: -124px -217px;}

/*ÒôÁ¿*/
.vcp-player .vcp-controls-panel .vcp-volume {background: none;}
.vcp-controls-panel .vcp-volume-icon{background-position: -7px -174px;}
/*¾²Òô×´Ì¬*/
.vcp-controls-panel .vcp-volume-muted .vcp-volume-icon{background-position: -45px -174px;}
/*Ê±¼ä*/
.vcp-controls-panel .vcp-timelabel {line-height: 2.5em;}

.vcp-refresh {width: 3em;height: 100%;background-position: -5px -130px;float: left;z-index: 1001;position: relative;cursor: pointer;}
.vcp-refresh:hover {background-position: -51px -131px;}
.volume-percent {position: absolute;color: #fff;left: 100%;margin-left: 10px;font-size: 14px;top: -3px;display: none;}

/*»º³åÖÐ*/
.network{position: absolute;width: 100%;height: 100%;top: 0;left: 0;z-index: 2;background: #000000;color: #FFFFFF;display: none;}
.network-text{position: absolute;top: 50%;left: 50%;text-align: center;width: 200px;height: 100px;margin-top: -50px;margin-left: -100px}
.network-text img{width: 50px;height: 50px}
.network-text p{margin-top: 20px}

.vcp-slider-thumb:hover .volume-percent {display: block;}
